<!doctype html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <ul>
      {% for title in images_titles %}
          <li><img src="{{ image_head }}{{ title }}{{ image_tail }}" alt="表示できません"></li>
      {% endfor %}
      <p><img src="{{ image_head }}{{ image_num }}{{ image_tail }}" alt="表示できません"></p>
    </ul>
    <form action="{% url 'welcomepage:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="送信">
    </form>
  </body>
</html>